# Verification

The following outlines verification of the software-hardware emulation.


# Emulation
![alt text](https://github.com/DCNN-Accelerator/docs/blob/master/docs/carbon.png)


    mkdocs.yml    # The configuration file.
    docs/
        index.md  # The documentation homepage.
        ...       # Other markdown pages, images and other files.


### Project Website
Check out our website [here][website] for more information about our project.

[website]: https://kierajcullen.github.io/-dcnn-.github.io/
